body {
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

@media (min-width: 768px) {
    .navbar-nav {
        width: 100%;
        text-align: center;
    }
    .navbar-nav > li {
        float: none;
        display: inline-block;
    }
    .navbar-nav > li.navbar-right {
        float: right !important;
    }
}

.navbar-main {
    background-image: url(../images/black-blur.png);
    background-color: transparent;
    border-color: transparent;
    height: 70px;
    background-repeat: repeat;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.open>a {
    background-repeat: no-repeat;
}

.logo {
    background-image: url('../images/crickpick-square-logo.png');
    width: 40px;
    height: 40px;
    background-size: cover;
    margin: 15px;
}

.navbar-default .navbar-nav>.active>a {
    color: white;
}

.menu-items a.item {
    background-color: transparent !important;
    background-repeat: no-repeat;
    background-position: 13px 7px;
    padding: 35px 0px !important;
    margin: 0 10px;
}

.menu-items.active a {
	color: #fff;
}

.menu-items .home {
    background-image: url(../images/menu-home-gray.png) !important;
}

.menu-items.active .home {
    background-image: url(../images/menu-home.png) !important;
}

.menu-items .teams {
    background-image: url(../images/menu-teams-gray.png) !important;
}

.menu-items.active .teams {
    background-image: url(../images/menu-teams.png) !important;
}

.container .cp-content {
    background-image: url(../images/white-blur.png);
    height: 520px;
    padding: 20px;
}

.cp-content-header {
    background-color: #d9a320;
    padding: 10px;
    font-size: 20px;
    display: inline-block;
    margin-top: 40px;
}

.cp-list {
    background-color: white;
}

.cp-list .cp-header {
    background-color: #2870a8;
    padding: 8px;
    color: #efefef;
    font-size: 17px;
}
.cp-list .cp-item {
	background-color: #fff;
	padding: 8px;
	border-bottom: 1px solid #ccc;
}
.cp-thumbnail {
	width: 30px;
}
.cp-item.selected {
	background-color: #eee;
}
.cp-items {
	max-height: 435px;
	overflow-y: scroll;
	overflow-x: hidden;
}
.cp-flag {
	width: 22px;
}

/*sign in*/
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 130px auto;
  background-image: url(../images/white-blur.png);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.login-logo {
	vertical-align: middle;
    width: 220px;
    margin-left: 39px;
}
/*sign in end*/

.btn-drop {
  margin-top: 12px;
}

.league {
  background-color: white;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.league .heading {
  font-weight: bold;
  font-size: large;
  color: #2870a8;
}

.progress {
  height: 5px;
}

